@tailwind base;
@tailwind components;
@tailwind utilities;

.meme-text {
  text-align: left;
  font-size: 3vw;
  font-family: impact;
  max-width: 600px;
  width: 37vw;
  overflow-wrap: break-word;
}

.meme-text h1:first-child {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.meme-text h1:last-child {
  color: white;
}
